<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.nextdeploy" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <!-- <android:uses-permission -->
    <!-- android:name="android.permission.WRITE_EXTERNAL_STORAGE" -->
    <!-- android:maxSdkVersion="18" /> -->
    <!-- <android:uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- <android:uses-permission -->
    <!-- android:name="android.permission.READ_EXTERNAL_STORAGE" -->
    <!-- android:maxSdkVersion="18" /> -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".VmActivity"
            android:label="@string/title_activity_vm"
            android:parentActivityName="io.nextdeploy.MainActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ProjectActivity"
            android:label="@string/title_activity_project"
            android:parentActivityName="io.nextdeploy.MainActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".UserActivity"
            android:parentActivityName="io.nextdeploy.MainActivity"
            android:label="@string/title_activity_user"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".NewVmActivity"
            android:parentActivityName="io.nextdeploy.MainActivity"
            android:label="@string/title_activity_new_vm" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName="io.nextdeploy.LoginActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
